<a href="https://colab.research.google.com/github/HrishavSaha/star-grav/blob/main/star_grav_project_131.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from google.colab import files
files.upload()

In [36]:
import pandas as pd
import plotly.express as plot

In [102]:
df = pd.read_csv("cl_mg_data.csv")
#data with solar units
df.head()

             name     distance mass radius
0             Sun  0.000015813    1      1
1          Sirius          8.6  2.1   1.71
2         Canopus          310   15     71
3  Alpha Centauri          4.4  1.1    1.2
4        Arcturus           37  1.1     26

In [87]:
#Seperating data for simpler manipulation
name = list(df['name'])
distance = list(df['distance'])
mass = list(df['mass'])
radius = list(df['radius'])

In [95]:
#Cleaning code for anomalous data
indexed_val = []
for index in range(len(name)):
  try:
    float(distance[index])
    float(mass[index])
    float(radius[index])
  except:
    indexed_val.append(index)

for val in indexed_val:
  del name[val]
  del distance[val]
  del mass[val]
  del radius[val]

In [96]:
#Converting solar units to SI units
for ind in range(len(mass)):
  mass[ind] = float(mass[ind]) * 1.989e+30
  radius[ind] = float(radius[ind]) * 6.957e+8

In [97]:
#gravity calculation function
def calc_grav(mass, radius):
  grav = (6.67e-11 * mass) / radius ** 2
  return grav

In [98]:
#Creating the gravity list
gravity = []
for index in range(len(mass)):
  gravity.append(calc_grav(mass[index], radius[index]))

In [99]:
#Creating the new dataframe
m_df = pd.DataFrame(list(zip(name, distance, mass, radius, gravity)),
                  columns=['name', 'distance', 'mass', 'radius', 'gravity'])

In [100]:
#Displaying the new dataframe
m_df.head()

             name     distance           mass        radius       gravity
0             Sun  0.000015813  1.565089e+121  2.342545e+35  1.902344e+40
1          Sirius          8.6  3.286688e+121  4.005753e+35  1.366205e+40
2         Canopus          310  2.347634e+122  1.663207e+37  5.660613e+37
3  Alpha Centauri          4.4  1.721598e+121  2.811054e+35  1.453179e+40
4        Arcturus           37  1.721598e+121  6.090618e+36  3.095529e+37